<h1>About</h1>
<p>Your prediction:</p>
<blockquote>{{fortune}}</blockquote>
<form>
    <input name="email" type="email"/><br>
    <textarea name="body"></textarea><br>
    <button name="send">Send</button>
</form>
Тест cookie: {{test_cookie}}<br>
Тест session: {{test_session}}