<div class="formContainer">
    <form class="form-horizontal newsletterForm" role="form" action="/process?form=newsletter" method="post">
        <input type="hidden" name="_csrf" value="{{csrf}}"><br>
        <input type="text" name="name"><br>
        <input type="email" required name="email"><br>
        <button type="submit">Register</button>
    </form>
</div>
{{#section 'jquery'}}
    <script>
        $('document').ready(function () {
            $('.newsletterForm').on('submit', function (ev) {
                ev.preventDefault();
                var action = $(this).attr('action');
                var $container = $(this).closest('.formContainer');
                $.ajax({
                    url: action,
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function (data) {
                        if(data.success){
                            $container.html('<h2>Спасибо</h2>');
                        }else {
                            $container.html('Возникла проблема.');
                        }
                    },
                    error: function () {
                        $container.html('Возникла проблема.')
                    }
                });
            })
        });
    </script>
{{/section}}