<form action="/order/add" method="post" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    Номер ордера: <input type="text" name="orderNumber"><br>
    ID Клиента <input type="text" name="customerId"><br>
    Дата:  <input type="text" name="date"><br>
    <p><input type="checkbox" name="status"> Статус</p>
    <button type="submit">Отправить</button>
</form>