<form class="form-horizontal" role="form" enctype="multipart/form-data" method="POST" action="/contest/vacation-photo/{{year}}/{{month}}">
    <input type="file" required accept="image/*" name="photo">
    <button type="submit">Send</button>
</form>